In [ ]:
/pscratch/sd/p/pakmasha/ENIGMA unzip/Amsterdam_AMC/halfpipe/sub-101/func/sub-101_task-rsfMRI_run-3_feature-corrMatrix2_atlas-brainnetomeCombinedDseg_timeseries.tsv
/pscratch/sd/p/pakmasha/ENIGMA unzip/Amsterdam_AMC/halfpipe/sub-101/func/sub-101_task-rsfMRI_run-3_feature-corrMatrix2_atlas-power2011Dseg_timeseries.tsv
/pscratch/sd/p/pakmasha/ENIGMA unzip/Amsterdam_AMC/halfpipe/sub-101/func/sub-101_task-rsfMRI_run-3_feature-corrMatrix2_atlas-schaefer2011CombinedDseg_timeseries.tsv

In [17]:
import pandas as pd

# Replace 'path_to_your_file' with the actual file path
file_path = '/pscratch/sd/p/pakmasha/ENIGMA unzip/Amsterdam_AMC/halfpipe/sub-101/func/sub-101_task-rsfMRI_run-3_feature-corrMatrix2_atlas-schaefer2011CombinedDseg_timeseries.tsv'
data = pd.read_csv(file_path, sep='\t', header=None)

In [20]:
# Count NaNs in each column
nan_counts = data.isna().sum()

# Filter columns with NaNs
nan_columns = []  # Empty list to store column numbers with NaNs
for col_num, nan_count in nan_counts.items():
    if nan_count > 0:
        nan_columns.append(col_num)  # Append column number with NaNs
        print(f"Column {col_num}: {nan_count} NaN values")

# Print the list of column numbers with NaNs
print(f"Columns with NaNs: {nan_columns}")
print(f"Total {len(nan_columns)} columns with NaNs")

Column 39: 200 NaN values
Column 41: 200 NaN values
Column 42: 200 NaN values
Column 59: 200 NaN values
Column 80: 200 NaN values
Column 106: 200 NaN values
Column 108: 200 NaN values
Column 109: 200 NaN values
Column 110: 200 NaN values
Column 111: 200 NaN values
Column 112: 200 NaN values
Column 113: 200 NaN values
Column 114: 200 NaN values
Column 116: 200 NaN values
Column 133: 200 NaN values
Column 167: 200 NaN values
Column 168: 200 NaN values
Column 184: 200 NaN values
Column 208: 200 NaN values
Column 242: 200 NaN values
Column 280: 200 NaN values
Column 312: 200 NaN values
Column 313: 200 NaN values
Column 314: 200 NaN values
Column 316: 200 NaN values
Column 318: 200 NaN values
Column 319: 200 NaN values
Column 321: 200 NaN values
Column 323: 200 NaN values
Column 335: 200 NaN values
Column 336: 200 NaN values
Column 346: 200 NaN values
Column 347: 200 NaN values
Column 357: 200 NaN values
Column 373: 200 NaN values
Column 393: 200 NaN values
Column 417: 200 NaN values
Column 424: 200 NaN values
Column 427: 200 NaN values
Column 430: 200 NaN values
Columns with NaNs: [39, 41, 42, 59, 80, 106, 108, 109, 110, 111, 112, 113, 114, 116, 133, 167, 168, 184, 208, 242, 280, 312, 313, 314, 316, 318, 319, 321, 323, 335, 336, 346, 347, 357, 373, 393, 417, 424, 427, 430]
Total 40 columns with NaNs

In [14]:
# Display the first few rows
print(data.head())

# Check the structure of the data
print(data.info())

# Optionally display column names
print(data.columns)

            0             1             2             3            4    \
0  10893.920157  11638.153102  10098.502690  11185.147671  8842.373060
1  10901.798790  11662.910827  10092.520860  11195.037014  8886.082086
2  10903.702195  11665.936864  10065.685419  11153.490354  8889.049964
3  10910.353499  11649.907729  10074.623197  11165.246092  8870.144633
4  10952.011844  11665.720708  10113.071517  11220.382145  8896.162985

           5            6             7             8             9    ...  \
0  8863.304692  9096.109462  10784.883317  10169.800846  11077.140773  ...
1  8881.684247  9121.364222  10759.864218  10184.405165  11071.026278  ...
2  8877.974438  9099.354405  10745.946826  10169.388311  11051.481633  ...
3  8875.886083  9097.567861  10773.349541  10176.159587  11056.641869  ...
4  8869.588685  9116.417614  10776.949602  10176.525997  11047.964591  ...

   424           425          426  427           428           429  430  \
0  NaN  11387.451364  3503.465176  NaN  10642.340273  10061.650012  NaN
1  NaN  11445.004889  3550.982875  NaN  10675.807463  10078.834950  NaN
2  NaN  11426.460402  3511.855396  NaN  10665.034395  10069.997718  NaN
3  NaN  11447.847729  3534.272680  NaN  10673.549422  10080.508376  NaN
4  NaN  11438.953859  3558.977803  NaN  10679.233279  10101.657443  NaN

            431           432           433
0  11795.370698  10911.033602  10703.357508
1  11820.366389  10926.561891  10714.206944
2  11860.109015  10903.759963  10689.062245
3  11840.048485  10929.177864  10698.903459
4  11836.492130  10926.959315  10713.302989

[5 rows x 434 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 434 entries, 0 to 433
dtypes: float64(434)
memory usage: 678.3 KB
None
Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       424, 425, 426, 427, 428, 429, 430, 431, 432, 433],
      dtype='int64', length=434)

In [16]:
data

,0,1,2,3,4,5,6,7,8,9,...,424,425,426,427,428,429,430,431,432,433
0,10893.920157,11638.153102,10098.502690,11185.147671,8842.373060,8863.304692,9096.109462,10784.883317,10169.800846,11077.140773,...,NaN,11387.451364,3503.465176,NaN,10642.340273,10061.650012,NaN,11795.370698,10911.033602,10703.357508
1,10901.798790,11662.910827,10092.520860,11195.037014,8886.082086,8881.684247,9121.364222,10759.864218,10184.405165,11071.026278,...,NaN,11445.004889,3550.982875,NaN,10675.807463,10078.834950,NaN,11820.366389,10926.561891,10714.206944
2,10903.702195,11665.936864,10065.685419,11153.490354,8889.049964,8877.974438,9099.354405,10745.946826,10169.388311,11051.481633,...,NaN,11426.460402,3511.855396,NaN,10665.034395,10069.997718,NaN,11860.109015,10903.759963,10689.062245
3,10910.353499,11649.907729,10074.623197,11165.246092,8870.144633,8875.886083,9097.567861,10773.349541,10176.159587,11056.641869,...,NaN,11447.847729,3534.272680,NaN,10673.549422,10080.508376,NaN,11840.048485,10929.177864,10698.903459
4,10952.011844,11665.720708,10113.071517,11220.382145,8896.162985,8869.588685,9116.417614,10776.949602,10176.525997,11047.964591,...,NaN,11438.953859,3558.977803,NaN,10679.233279,10101.657443,NaN,11836.492130,10926.959315,10713.302989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,10892.073333,11667.433851,10093.449098,11177.052596,8892.162901,8870.348583,9103.644787,10758.834948,10174.964956,11040.226600,...,NaN,11441.548347,3554.163610,NaN,10686.575290,10116.089775,NaN,11835.603749,10940.776272,10719.257716
196,10889.027942,11668.342346,10082.745156,11197.003950,8872.425420,8892.764710,9132.761781,10773.985597,10201.902430,11047.385599,...,NaN,11422.141129,3560.010711,NaN,10691.753170,10119.739892,NaN,11894.623126,10944.816748,10741.029191
197,10960.399065,11686.866095,10101.802817,11207.284394,8891.402992,8900.621202,9133.791856,10781.506901,10200.889567,11083.342969,...,NaN,11442.339164,3565.701590,NaN,10699.134077,10125.718907,NaN,11856.474102,10936.560966,10721.820030
198,10939.582451,11675.905363,10106.053137,11209.776737,8869.577116,8893.589096,9121.939432,10785.740909,10190.355129,11081.284416,...,NaN,11428.358818,3597.629462,NaN,10690.124953,10117.364416,NaN,11871.882462,10939.871941,10719.636425
199,10920.391232,11672.751058,10096.198498,11237.967981,8881.651472,8893.720876,9137.812621,10784.770563,10192.093249,11070.538157,...,NaN,11441.519960,3550.080791,NaN,10688.829130,10127.547701,NaN,11826.188538,10948.851434,10739.802015